    /*
    Flaticon icon font: Flaticon
    Creation date: 02/09/2020 08:45
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-user:before { content: "\f100"; }
.flaticon-telephone:before { content: "\f101"; }
.flaticon-github-logo:before { content: "\f102"; }
.flaticon-email:before { content: "\f103"; }
.flaticon-birthday-cake:before { content: "\f104"; }
.flaticon-globe:before { content: "\f105"; }
.flaticon-favourite:before { content: "\f106"; }
.flaticon-information:before { content: "\f107"; }
.flaticon-next:before { content: "\f108"; }
.flaticon-left-arrow:before { content: "\f109"; }
.flaticon-right-arrow:before { content: "\f10a"; }
.flaticon-left-arrow-1:before { content: "\f10b"; }
.flaticon-to-do-list:before { content: "\f10c"; }
.flaticon-list:before { content: "\f10d"; }
.flaticon-facebook:before { content: "\f10e"; }
.flaticon-instagram:before { content: "\f10f"; }
.flaticon-twitter:before { content: "\f110"; }
.flaticon-linkedin:before { content: "\f111"; }
.flaticon-skype:before { content: "\f112"; }
.flaticon-up-arrow:before { content: "\f113"; }
.flaticon-graduated:before { content: "\f114"; }
.flaticon-certificate:before { content: "\f115"; }
.flaticon-trophy:before { content: "\f116"; }
.flaticon-medal:before { content: "\f117"; }
.flaticon-house:before { content: "\f118"; }
.flaticon-graduation-cap:before { content: "\f119"; }
.flaticon-cap:before { content: "\f11a"; }
.flaticon-book:before { content: "\f11b"; }
.flaticon-html-tag:before { content: "\f11c"; }
.flaticon-html-coding:before { content: "\f11d"; }
.flaticon-browser:before { content: "\f11e"; }
.flaticon-monitor:before { content: "\f11f"; }
.flaticon-html:before { content: "\f120"; }
    
    $font-Flaticon-user: "\f100";
    $font-Flaticon-telephone: "\f101";
    $font-Flaticon-github-logo: "\f102";
    $font-Flaticon-email: "\f103";
    $font-Flaticon-birthday-cake: "\f104";
    $font-Flaticon-globe: "\f105";
    $font-Flaticon-favourite: "\f106";
    $font-Flaticon-information: "\f107";
    $font-Flaticon-next: "\f108";
    $font-Flaticon-left-arrow: "\f109";
    $font-Flaticon-right-arrow: "\f10a";
    $font-Flaticon-left-arrow-1: "\f10b";
    $font-Flaticon-to-do-list: "\f10c";
    $font-Flaticon-list: "\f10d";
    $font-Flaticon-facebook: "\f10e";
    $font-Flaticon-instagram: "\f10f";
    $font-Flaticon-twitter: "\f110";
    $font-Flaticon-linkedin: "\f111";
    $font-Flaticon-skype: "\f112";
    $font-Flaticon-up-arrow: "\f113";
    $font-Flaticon-graduated: "\f114";
    $font-Flaticon-certificate: "\f115";
    $font-Flaticon-trophy: "\f116";
    $font-Flaticon-medal: "\f117";
    $font-Flaticon-house: "\f118";
    $font-Flaticon-graduation-cap: "\f119";
    $font-Flaticon-cap: "\f11a";
    $font-Flaticon-book: "\f11b";
    $font-Flaticon-html-tag: "\f11c";
    $font-Flaticon-html-coding: "\f11d";
    $font-Flaticon-browser: "\f11e";
    $font-Flaticon-monitor: "\f11f";
    $font-Flaticon-html: "\f120";